/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    
}

/* Estilos del encabezado */
header {
    display: flex; /Se aplica FlexBo/
    justify-content: space-between; /* Distribuye los elementos */
    align-items: center; 
    padding: 10px 20px; 
    background-color: #f8f8f8; 
    position: relative;
}

header h1 {
    font-size: 50px;
    flex-grow: 1; /* Hace que el título ocupe el espacio disponible */
    text-align: center;
}

header p {
    margin: 0;
    position: absolute;
}

header p:first-child {
    left: 20px;
}

header p:last-child {
    right: 20px;
}

header svg {
    width: 30px; 
    height: 30px; 
    stroke: black; /* Color del icono */
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: Comic Sans MS, sans-serif;
    color: black;
}

/* Títulos */
.titulo2 {
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}

.titulo3 {
    text-align: center;
    font-size: 15px;
    color: black;
}

/* Contenedor */
.contenedor {
    width: 100%;
    max-width: 110rem;
    margin: 0 auto;
}

/* Barra de navegación */
.nv-bg { /* barra oscura */
    background-color: rgb(35, 56, 70);
    width: 100%;
    text-align: center;
}

.navegacion1 {
    display: flex; /* Aplicacion de flexbox */
    justify-content: space-between; /* Flex propiedades  */
    gap: 30px; /* Espacio entre los enlaces */
}

.navegacion1 a { /* Estilo de los enlaces */
    color: white;
    font-size: 2rem; 
    text-decoration: none;
    padding: 1rem;
}

.navegacion1 a:hover { /* Color clarito*/
    background-color: rgb(74, 131, 160);
}

/* Sección de portada */
.porta {
    position: relative;
    width: 100%;
    height: 50vh; 
    overflow: hidden;
}

.porta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenido-porta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Texto blanco */
    background: rgba(0, 0, 0, 0.5); 
    padding: 2rem;
    border-radius: 10px;
}

.contenido-porta h2, .contenido-porta h3 {
    margin: 0; 
    color: white; 
}

.contenido-porta a {
    display: inline-block;
    background: rgb(74, 131, 160);
    color: white;
    padding: 1rem 2rem;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1.6rem;
    border-radius: 5px;
}

.contenido-porta a:hover {
    background: rgb(35, 56, 70);
}